# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
.env/

# Data & models
ml/data/
backend/skillful-air-453214-*.json
*.keras

# SQLite database (local development only)
*.db

# Logs
*.log

# Build and distribution
build/
dist/
*.egg-info/
.eggs/

# OS specific files
.DS_Store

# IDE/editor settings
.vscode/
.idea/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# pytest cache
.pytest_cache/
