# Core packages
fastapi==0.116.1
uvicorn==0.35.0
pydantic==2.11.8
pydantic_core==2.33.2
scikit-learn==1.7.2
joblib==1.5.2
requests==2.32.5
click==8.2.1
colorama==0.4.6
anyio==4.10.0
annotated-types==0.7.0
h11==0.16.0
sniffio==1.3.1
starlette==0.47.3
typing-inspection==0.4.1
typing_extensions==4.15.0
unicorn==2.1.4

# Jupyter & notebook tools
absl-py==2.3.1
aiofiles==24.1.0
ipykernel==6.30.1
ipython==9.5.0
ipywidgets==8.1.7
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.7
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
notebook==7.4.5
notebook_shim==0.2.4

# Data science & ML
numpy==2.3.3
pandas==2.3.2
scipy==1.16.2
matplotlib==3.10.6
matplotlib-inline==0.1.7
tensorflow==2.20.0
keras==3.11.3
tensorboard==2.20.0
tensorboard-data-server==0.7.2
flatbuffers==25.2.10
ml_dtypes==0.5.3
astunparse==1.6.3
gast==0.6.0
opt_einsum==3.4.0
protobuf==6.32.1

# Utilities
python-dotenv==1.1.1
python-json-logger==3.3.0
python-multipart==0.0.20
tqdm==4.66.1
pillow==11.3.0
requests==2.32.5
tzdata==2025.2
